@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


.modal-enter {
    transform: translateX(100%);
  }
  
  .modal-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
  }
  
  .modal-exit {
    transform: translateX(0);
  }
  
  .modal-exit-active {
    transform: translateX(100%);
    transition: transform 300ms;
  }

* {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
}